/* ===============================================

basis.css
wird in style.css per @import eingebunden

=============================================== */

/**
* 1. Globale Einstellungen für die gesamte Website
*/

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 6rem;
}

.max__width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.max {
  max-width: 1100px;
}

:root {
  /* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.25&maxFontSize=20&maxWidth=1280&maxRatio=1.333&steps=300%2C400%2C500%2C600%2C700%2C800%2C900&baseStep=400&prefix=fs&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */
  --fs-300: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
  --fs-400: clamp(1.25rem, 0.76vw + 1.06rem, 1.67rem);
  --fs-500: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
  --fs-600: clamp(1.95rem, 1.83vw + 1.5rem, 2.96rem);
  --fs-700: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
  --fs-800: clamp(3.05rem, 4.02vw + 2.05rem, 5.26rem);
  --fs-900: clamp(3.81rem, 5.81vw + 2.36rem, 7.01rem);
}

:root {
  --primary-color_rot: #620000;
  --primary-color-grün: #1D1400;
}

/* almendra-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  src: url('../font/AlmendraSC-Regular.ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Almendra SC';
 }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

img,
video {
  max-width: 100%;
  height: auto;
}

figure,
blockquote {
  margin-right: 0;
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote { margin-top: 0; }


/**
* 2. Grundlegende gestaltung von Schrift und Text
*/


h1 { font-size: var(--fs-700); font-weight: 500; }
h2 { font-size: var(--fs-700); font-weight: 500; }
h3 { font-size: var(--fs-700); font-weight: 500; }
h4 { font-size: var(--fs-600); font-weight: 500; }
h5 { font-size: var(--fs-500); font-weight: 500; }
h6 { font-size: var(--fs-400); font-weight: 500; }
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}
address { font-style: normal; }

/**
* 3. Nützliche und allgemeine Klassen
*/

.hidden { display: none; }